#question {
    font-family: 'Gloria Hallelujah', cursive;
}

h1 {
    font-family: 'Indie Flower', cursive;
}

#next {
    position: absolute;
    left: 90px;
    top: 261px;
}

.button {
    height: 35px;
    width: 60px;
    margin: auto;
    border-radius: 15px;
    border: 4px solid #50fa1f;
    background-color: #00c800;
    font-family: 'Lobster', cursive;
    font-size: 1em;
}

#prev {
    position: relative;
    right: -10px;
    top: 20px;
    display: none;
}

.highlight {

}